[toolchain]
package_manager = "yarn"
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
sol_challenges = "FCro478qGaVFYHVqU61gAwukUtne3c3BkheKTFR5Zqbm"
vault-core = "A4nGMAE6j5xty4a5PALzz7nYnWQcB59mYcLptZMoYkfN"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
